@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import "./config.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #F6F6F6;
}

a {
  color: #444444;
  text-decoration: none;
}
